on:
  push:
    tags:
      - 'v*' 

name: release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0

      - name: Set env
        run: | 
         echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
         echo "RELEASE_NAME=${GITHUB_EVENT_REPOSITORY_NAME}-${RELEASE_VERSION}" >> $GITHUB_ENV

      - name: Create changelog
        run: |
          ./scripts/changes_for_release_notes.sh > ./${RELEASE_NAME}.md

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: ./${{ env.RELEASE_NAME }}.md